*{
    font-family: Bookman, URW Bookman L, serif;
    font-size: 25px;;
}

li:hover{
    color: red;
}

.Address{
    color:Navy;
}

.Address:hover{
    color:#8B0000;
}

.logo1 img{
    width: 250px;
    height: 250px;
   border-radius: 140px;
    padding-top: 10px;
    padding-left: 20px;;

    
}

/* .header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    height: 155px;;
    position: relative;
} */

 .header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    height: 155px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

body{
    padding-top: 155px;
}

.logo{
    display: flex;
}
.logo img{
    animation:floatLogo  ease-in-out;
}
@keyframes floatLogo{
    0%{
        transform:translateX(0px);
    }
    50%{
        transform:translateX(-10px);
    }
    100%{
        transform:translateX(0px);
    }
}
.logo p{
    padding:50px;
    font-size: 50px;;
    color:orangered;
    animation:glow 2s ease-in-out infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 5px rgb(167, 145, 21);
    }
    to{
        text-shadow:
        0 0 10px rgb(138, 121, 27),
        0 0 20px rgb(110, 98, 28),
        0 0 30px orange;
    }
}

.logo img{
    width: 150px;
    height: 150px;
    padding-top: 60px;;
    }

.search-box{
    display: flex;
    align-items:center;
    gap: 40px;;
}

.search-box input{
    width: 650px;
    height: 40px;
    padding: 10px;
    border-color: orange;
    border-width: 5px;;
}

.search-box button{
    height: 40px;
    padding: 0px 20px;
    background-color: orange;
    color: white;
    border-radius:10px;


}

.menu{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    list-style:none;
    padding:0;
    margin:0;
}

.menu li{
    position:relative;
    list-style:none;
}

.menu li a{
    text-decoration:none;
    color:green;
    font-size: 28px;
    padding:10px 15px;
    display:block;
    transition:.3s;
}

.menu li a:hover{
    color:#8B0000;
}

/* Dropdown */

.dropdown-menu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
     background:rgba(255,255,255,0.15);
    backdrop-filter:blur(2px);
    -webkit-backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.3);
    border-radius:12px;
    min-width:220px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    
    padding:10px 0;
    z-index:999;
}

.dropdown-menu li{
    width:100%;
}

.dropdown-menu li a{
    color:#333;
    padding:12px 20px;
}

.dropdown-menu li a:hover{
    background:#8B0000;
    color:white;
}

/* Show dropdown on hover */

.dropdown:hover .dropdown-menu{
    display:block;
}

.hero-slider{
    width: 100%;
    height: 950px;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 200%;
    animation: slide 8s infinite;
}

.slides img{
    width: 50%;
    height: 950px;
    object-fit: cover;
}

@keyframes slide{

    0%,40%{
        transform: translateX(0);
    }

    50%,90%{
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0);
    }

}



.contact-section{
    width:100%;
    height:650px;;

    
    background-color: beige;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    /* display:flex;
    justify-content:center;
    align-items:center; */

    padding:10px 10px;
}



.form2{
    width:100%;
    display:flex;
    justify-content:center;
}

.form1{
    width:450px;
    background:skyblue;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.15);
}

.form1 h2{
    text-align:center;
    color:#8B0000;
    margin-bottom:25px;
}

.form1 label{
    display:block;
    margin-bottom:8px;
    font-size:17px;
    font-weight:bold;
    color:#333;
}

.form1 input,
.form1 textarea{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    outline:none;
    transition:0.3s;
    box-sizing:border-box;
}

.form1 input:focus,
.form1 textarea:focus{
    border:1px solid #8B0000;
    box-shadow:0 0 8px rgba(139,0,0,0.3);
}

.form1 textarea{
    height:120px;
    resize:none;
}

.form1 button{
    width:100%;
    padding:14px;
    background:#8B0000;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    transition:0.3s;
}

.form1 button:hover{
    background:#b30000;
}

.product-section{
    width:90%;
    margin:50px auto;
    text-align:center;
}

.product-section h2{
    margin-bottom:30px;
    color:#8B0000;
}

.slider{
    display:flex;
    align-items:center;
    gap:20px;
}

.products{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;          /* Space between images */
    flex:1;
}

.products img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.products img:hover{
    transform:scale(1.05);
}


/* ===========================
   RECENT COLLECTIONS
=========================== */

.recent-collections{
    width:90%;
    margin:70px auto;
    
}

.section-title{
    text-align:center;
    font-size:40px;
    color:#7B1113;
    margin-bottom:40px;
    font-family:Georgia, serif;
}

/* .slider-container{
    overflow:hidden;
    position:relative;
    width:100%;
} */

.product-slider{
    display:flex;
    gap:25px;
    width:max-content;
    animation: slideProducts 20s linear infinite;
}

.product-slider:hover{
    animation-play-state: paused;
}

@keyframes slideProducts{

    0%{
        transform:translateX(0);
    }

    100%{
        transform:translateX(-50%);
    }

}

.product-slider::-webkit-scrollbar{
    display:none;
}

.product-card{
    min-width:280px;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
    flex-shrink:0;
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

/* Image */

.product-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    transition:.5s;
}

.product-card:hover img{
    transform:scale(1.08);
}

/* Product Details */

.product-info{
    padding:18px;
}

.product-info h3{
    font-size:22px;
    color:#222;
    margin-bottom:8px;
    
}

.product-info p{
    color:#777;
    line-height:24px;
    margin-bottom:15px;
    align-items: center;
    padding:50px;
}

/* Size */

.sizes{
    display:flex;
    gap:8px;
    margin-bottom:18px;
}

.sizes label{
    border:2px solid #7B1113;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
    font-size:14px;
}

.sizes input{
    display:none;
}

.sizes label:hover{
    background:#7B1113;
    color:#fff;
}

/* Price */

.price{
    color:#d60000;
    font-size:28px;
    font-weight:bold;
    margin-bottom:18px;
}

/* Pieces */

.pieces{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:20px;
    font-weight:bold;
}

.pieces input{
    width:60px;
    height:35px;
    text-align:center;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

/* Button */

.view-btn{
    width:100%;
    background:#7B1113;
    color:white;
    border:none;
    padding:14px;
    font-size:17px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.view-btn:hover{
    background:#b11217;
}

/* Slider Buttons */

.slider-btn{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#7B1113;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
    z-index:2;
}

.slider-btn:hover{
    background:#b11217;
}

.prev{
    margin-right:15px;
}

.next{
    margin-left:15px;
}



.footer1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFA07A;
    padding: 50px;
    width: 94%;
    color: white;
    flex-wrap: wrap;
}